* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: wheat;
    background: no-repeat;
    background-size: 100%;
    background-image: url('https://wallpaperaccess.com/full/136236.jpg');
}

img{
    position: absolute;
    top: 4%;
    left: 1%;
}

.container {
    display: flex;
    width: 80vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    position: relative;
    transition: flex 0.5s ease-in;
    border-radius: 10px;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.9s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}